# Git
.git
.gitignore
.github

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next
out
.next/cache

# Env
.env
.env.*

# Misc
Dockerfile*
**/*.md
**/*.MD
**/*.log